@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Montserrat Regular';
    src: url('./assets/font-families/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  }
  * {
    font-family: 'Montserrat Regular', 'Roboto', 'Poppins';
}

.custom-buttonCTAs {
  @apply text-colorNeutral3 text-sizeButtonCTAs font-weightButtonCTAs;
}

.custom-title {
  @apply text-colorNeutral3 text-sizeTitle font-weightTitle;
}

.custom-subtitle {
  @apply text-colorNeutral3 text-sizeSubtitle font-weightSubtitle;
}

.custom-textButton {
  @apply text-colorNeutral2 text-sizeTextButton font-weightTextButton;
}

.custom-label {
  @apply text-colorNeutral2 text-sizeLabel font-weightLabel
}

.custom-text {
  @apply text-colorNeutral1 text-sizeText font-weightText
}

.custom-filter {
  @apply text-colorNeutral1 text-sizeFilter font-weightFilter
}

.react-swipeable-view-container > *{
  width: 70% !important;
}